/* Reset Básico */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
/*Teste footer final*/
html,
body {
  display: flex;
  
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: column;
}

.main-content {
  flex: 1;
  min-height: calc(85vh - 75px);
  padding-bottom: 20px;
}
/*fIM TESTE*/
/* Corpo Geral */
body {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  background-color: #f4f4f9;
  color: #333;
  padding: 10px;
}

/* Cabeçalho */

header {
  background-color: rgba(155, 227, 240, 0.57);
  color: #fff;
  padding: 15px 0;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

header * {
  margin-top: 0 !important;
}
/*Logo*/
.montserrat-text {
  font-family: "Montserrat", serif;
  font-optical-sizing:auto;
  font-weight: 350;
  font-style: normal;
  color:#054169
}

/* Navbar */
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: #c6eff6 !important;
}
.navbar navbar-expand-lg {
  z-index: 1000;

}

.navbar-nav .nav-item {
  color: #287c2f !important;
}
/*Dropdown toggle*/
.dropdown-item:hover {
  background-color: #c6eff6 !important;
}
.navbar-nav .nav-item .nav-link:hover {
  background-color: #17beca;
  border-radius: 10px 0 10px 0;
  
}

nav {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto !important;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #bbfa96;
  text-decoration: none;
  border-radius: 10px 0 10px 0;
}

nav ul li:hover > a {
  background-color: #c6eff6;
  width:auto;
  border-radius: 10px 0 10px 0;
}

nav ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #d31a1a;
  padding: 10px 0;
  list-style: none;
  min-width: 200px;
  /* z-index: 1000; */
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(43, 224, 37, 0.2);
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li a {
  padding: 10px 20px;
  color: #fff;
}

nav ul li ul li a:hover {
  background-color: #ff0000;
}

/*Visualizações Relatórios*/
.container {
  .container {
      width: 100%;
      max-width: none;
      /* Se estiver com limite, remova */
    }
}
/* Conteúdo Principal */
main {
  margin-bottom: 60px;
}

/* Dashboard */
.dashboard {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.panel {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  flex: 1;
  min-width: 250px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.panel h2 {
  margin-bottom: 15px;
  font-size: 1.2em;
  color: #333;
}

.panel ul {
  list-style: none;
  padding: 0;
}

.panel ul li {
  margin-bottom: 10px;
}

.panel ul li a {
  color: #333;
  text-decoration: none;
}

.panel ul li a:hover {
  text-decoration: underline;
}
.table-item{
  background-color:#fff ;
}
/* Botões e Formulários */
.standard-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Estilo Base para Botões */
button,
.btn,
input[type="submit"] {
  background-color: #007bff; /* Azul padrão */
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block; /* Evita esticar o botão */
  width: auto; /* Garante tamanho automático */
}

/* Estilo Hover para Botões */
button:hover,
.btn:hover,
input[type="submit"]:hover {
  background-color: #c6eff6; /* Azul mais escuro no hover */
}

/* Botão Sucesso (verde) */
button.success,
input[type="submit"].success {
  background-color: #5cb85c; /* Verde padrão */
}

button.success:hover,
input[type="submit"].success:hover {
  background-color: #4cae4c; /* Verde mais escuro no hover */
}

input,
select,
textarea {
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%;
}

textarea {
  resize: vertical;
  height: 100px;
}

/* Tabelas */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #c6eff6;
}
thead {
  background-color: #c6eff6;
  color: #287c2f;
  
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}
/* Agenda Dashboard*/

.dashboard-bloco {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.dashboard-bloco h2 {
  margin-top: 0;
}

.dashboard-bloco table {
  width: 100%;
  border-collapse: collapse;
}

.dashboard-bloco table th,
.dashboard-bloco table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.dashboard-bloco table th {
  background-color: #f2f2f2;
  font-weight: bold;
}
/* Modal */
.modal {
  display: block;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.5s ease;
}

.modal-content {
  background-color: rgb(0, 110, 255);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  animation: slideIn 0.5s ease;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Formulários */
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 80%;
  margin: 0 auto;
}

input[type="checkbox"] {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid #333;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #007bff;
  border-color: #007bff;
}

.form-group.full-width {
  grid-column: span 2;
}
/* Rodapé */

footer {
  background-color: rgba(155, 227, 240, 0.57);
  color: #000000;
  text-align: center;
  padding: 10px 0 0 0;
  position: relative;
  bottom: 5px;
  margin-top: auto;
  width: 100%;
}

.footer-p {
  min-height: 0px;
  transform: translatex(0px) translatey(0px);

}
/* Animações */
@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Dashboard */
.dashboard-list {
  list-style-type: none;
  padding: 0;
}

.dashboard-list li {
  background-color: #2ec1db;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.dashboard-list li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.dashboard-list li:hover {
  background-color: #054169;
}

h2 {
  color: #fff;
  }
/* Espaçamentos */
.mt-5 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 1.5rem;
}
@media (max-width: 991px) {
  .navbar-collapse {
    width: auto;
    
  }
}
/* Estilo padrão */
th,
td {
  text-align: left;
  vertical-align: middle;
}

/* Modo mobile (telas menores que 768px) */
@media (max-width: 768px) {

  .col-tipo,
  .col-descricao,
  .col-data-inclusao,
  .col-situacao,
  .col-parcelado,
  .col-parcelas,
  .col-acoes {
    display: none;
    /* Esconde as colunas desnecessárias */
  }

  .table {
    font-size: 14px;
    /* Ajuste opcional para melhorar legibilidade */
  }
}
